<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HEY , THIS IS USER DASHBOARD</h1>
    

    <h2>Top 3 Most Borrowed Books</h2>
    <ul>
        {% for book in top_borrowed_books %}
            <li>
                <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> 
                (Borrowed {{ book.borrow_count }} times)
            </li>
        {% empty %}
            <li>No books have been borrowed yet.</li>
        {% endfor %}
    </ul>




<h2>Available Books</h2>

<ul>
    {% for book in books %}
        <li>
            <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> by {{ book.author }}
        </li>
    {% endfor %}
</ul>

<h2>Your Borrowings</h2>
<ul>
    {% for borrowing in borrowings %}
        <li>{{ borrowing.book.title }} (Due: {{ borrowing.end_date }})</li>
    {% endfor %}
</ul>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
</body>
</html>